<div data-role = "page">
	<% if @activityarray.t1_id != nil %>
		<div data-role = "header" data-position = "fixed">
			<div class = "ui-grid-b" style = "padding: 0.5em 0 0.5em 0">
				<div class = "ui-block-a"></div>
				<div class = "ui-block-b" style = "text-align: center">fuseGap</div>
				<div class = "ui-block-c" style = "text-align: right">4 / 8</div>
			</div>
		</div>
	<% else %>
		<div data-role = "header" data-position = "fixed">
			<h1>fuseGap</h1>
		</div>
	<% end %>
	<div data-role = "content">
		<p style = "text-align: center; font-size: 1.1em">Please select one of the following:</p>
	</div>
		<ul data-role = "listview">
			<% @topicchoices.each do |i|%>
			<li><%= link_to(T.find_by_id(i.id).title, choose_t_path(T.find_by_id(i.id)), "data-theme"=>"", "data-ajax"=>"false", "style"=>"white-space: normal; line-height:135%; font-size: 0.8em; padding: 0.5em 2.2em 0.5em 0.5em;") %></li>
			<% end %>
		</ul>
	
	<div data-role = "footer" data-position = "fixed">
		<h1>fuseGap</h1>
	</div>	
</div>