<!DOCTYPE html>
<html>
<head>
  <title>fuseGap</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
	<script type="text/javascript">if (window.location.hash == '#_=_')window.location.hash = '';</script>
    <link rel="stylesheet" href="arc2theme.css" />
    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.1.0/jquery.mobile.structure-1.1.0.min.css" />
	<script src="http://code.jquery.com/jquery-1.6.4.min.js"></script>
	<script src="http://code.jquery.com/mobile/1.1.0/jquery.mobile-1.1.0.min.js"></script>
    <script src="http://connect.facebook.net/en_US/all.js"></script>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

</head>
<body>
	<%= yield %>
</body>
</html>

